@use 'fonts';

$primary-color: #EBECED;
$secondary-color: #D4D4D4;
$accent-color: #FF601C;
$body-text-color: #1a1a1a;
$heading-font-family: 'mulishbold', helvetica, arial;
$hero-font-family: 'mulishblack', helvetica, arial;
$body-font-family: 'robotoregular',arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;