@use '../abstracts' as a;

.btn-orange-line {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 16px 8px 16px;
    background-color: #fff;
    color: #df551e;
    border: solid 2px #df551e;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    font-family: a.$body-font-family;
}

.btn-orange-line:hover {
    background-color: #df551e;
    color: #fff;
}
