@use '../abstracts/variables' as a;

.super-card {

    margin-top: 30px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 18px;

    img {
        width: 200px;
        margin-bottom: 15px;
    }
}

.card {
    // height: 450px; //for tablet+
    margin-top: 30px;
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 30px; //no need for tablet+
    text-align: center;
    background-color: a.$body-text-color;
    border-radius: 18px;

    h2 {
        margin-top: 30px;
        color: #fff;
    }

    p {
        color: #fff;
    }

}

@media screen and (min-width: 1600px) {

    .super-card {

        padding-top: 80px;
        padding-left: 80px;
        padding-bottom: 80px;


        h2 {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }

    .card {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
        display: grid;
        place-items: center;

        padding: 40px;
        height: 500px;

        p {
            font-size: 26px;
            color: rgb(223, 223, 223);
            text-align: center;
        }

        h2 {
            font-size: 30px;
        }
    }

}