@use '../abstracts' as a;

html {
    scroll-behavior: smooth;
}

#main-logo {
    h2 {
        letter-spacing: 8px;
    }
}

#about-us {
    margin-bottom: 40px;
}

#founders section {
    margin-bottom: 40px;
}

#hotspotIcon {
    font-size: 32px;
}

body {
    background-color: a.$primary-color;
}

#hero-main {
    margin-top: 30px;
    text-align: center;

    h2 {
        color: a.$body-text-color;
        font-display: a.$hero-font-family;
        font-size: 38px;
        font-weight: 900;
        // letter-spacing: 18px;
        margin: auto 0;
        margin-bottom: 20px;
    }
}

#partners-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #fff;
    margin-top: 50px;

    h2 {
        text-align: center;
        width: 100%;
    }

    img {
        width: 130px;
        text-align: center;
        filter: grayscale(1);
    }

    img:hover {
        filter: grayscale(0);
    }
}

#about-section {
    margin-top: 50px;
    text-align: center;

    h2 {
        color: a.$body-text-color;
        margin: auto;
        margin-bottom: 30px;
        text-align: center;
        line-height: 40px;

    }

    p {
        text-align: center;
    }

    img {
        margin-bottom: 10px;
    }
}

#about-content {
    margin-bottom: 50px;
}

#about-icons {
    margin-top: 0px;
    margin-bottom: 30px;

    p {
        margin-top: 15px;
        margin-bottom: 25px;
        text-align: center;
    }
}

.yellow-circle {
    background-color: #F8C200;
    border-radius: 50%;
    width: 80px;
    width: 80px;
    padding: 10px;
    color: white;
}

#animation-content {
    margin: 0;
    padding: 0;
}

#scr-animation {
    margin: 0;
    padding: 0;
    text-align: center;
}

#specs {
    margin-top: 50px;
}

#specs-content {
    text-align: center;
}


// #model-canvas {
//     display: none;
// }

@media screen and (min-width: 1200px) {
    #model-canvas {
        display: block;
    }

}